.example-class1 {
  background-color: #2a4254;
  height: 77px;
  width: 77px;
  color: white;
  cursor: pointer;
  float: right;
}
.popover.popover1 {
  width: 250px;
  padding: 0px 1px 1px;
  text-align: left;
  white-space: normal;
  background-color: #2a4254 !important;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0px !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  color: white;
}
.popover.popover1.bs-tether-element-attached-right::after,
.popover.popover1.popover-left::after {
  border-left-color: #2a4254;
}