<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.eomcs.lms.dao.ImageDao">
  
  <resultMap type="uploadFile" id="uploadFileMap">
    <id column="upf_id"  property="id"/>
    <result column="atc_id"   property="articleId"/>
    <result column="fn"   property="fileName"/>
    <result column="sfn"  property="saveFileName"/>
    <result column="sfp"  property="filePath"/>
    <result column="cont_type"  property="ContentType"/>
    <result column="size"  property="size"/>
    <result column="rdt"  property="regDate"/>
  </resultMap>
  
  <select id="findAll" resultMap="uploadFileMap">
    select 
      upf_id,
      atc_id,
      fn,
      sfn,
      sfp,
      cont_type,
      size,
      rdt
    from 
      upf
    order by 
      upf_id asc
  </select>
  
  <select id="findOne" resultMap="uploadFileMap" parameterType="int">
    select 
      upf_id,
      atc_id,
      fn,
      sfn,
      sfp,
      cont_type,
      size,
      rdt
    from 
      upf
    where
      upf_id = #{value}
     
  </select>
  
  <select id="findOneByFileName" resultMap="uploadFileMap" parameterType="string">
    select 
      upf_id,
      atc_id,
      fn,
      sfn,
      sfp,
      cont_type,
      size,
      rdt
    from 
      upf
    where
      fn = #{value}
     
  </select>
    
  <select id="findOneBySaveFilePath" resultMap="uploadFileMap" parameterType="string">
    select 
      upf_id,
      atc_id,
      fn,
      sfn,
      sfp,
      cont_type,
      size,
      rdt
    from 
      upf
    where
      sfp = #{value}
     
  </select>
  
  <insert id="save" parameterType="uploadFile">
    insert into upf(
      fn,
      sfn,
      sfp,
      cont_type,
      size) 
    values(
      #{fileName},
      #{saveFileName},
      #{filePath},
      #{ContentType},
      #{size}
    )
  </insert>

</mapper>










